<div class="alert alert-primary" role="alert">
{{carrera}}
{{#each acciones}}
  <button type="button" class="btn btn-success">{{accion}}</button>
{{/each}}
</div>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
